# =========================
# Django settings
# =========================
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost

# =========================
# Database (mySQL)
# =========================
DB_NAME=nexus
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=1234