{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Soy un desarrollador web junior, estudiante de ingeniería de software y un apasionado del mundo de la programación. Aquí podrás encontrar todos los proyectos que he creado, así como mis habilidades y medios de contacto.">
<meta name="author" content="Uziel Omar Flores Torres">

<meta property="og:title" content="Uziel Flores | Desarrollador Web">
<meta property="og:description" content="Portfolio profesional de Uziel Flores. Desarrollo web frontend y backend, proyectos, habilidades y contacto.">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'core/images/og/por-mientras.jpg' %}"> {#cambiar luego por la verdadera#}
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:alt" content="Portfolio profesional de Uziel Flores">
<meta property="og:site_name" content="Uziel Flores | Desarrollador Web">
<meta property="og:locale" content="es_MX">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Uziel Flores | Desarrollador Web">
<meta name="twitter:description" content="Portfolio profesional de Uziel Flores. Desarrollo web frontend y backend, proyectos, habilidades y contacto.">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'core/images/og/por-mientras.jpg' %}"> {#cambiar luego por la verdadera#}
<meta name="twitter:image:alt" content="Portfolio profesional de Uziel Flores">
<meta name="twitter:site" content="@usuario"> {#cuenta de twitter#}
<meta name="twitter:creator" content="@usuario">

<meta name="robots" content="index, follow, max-image-preview:large">