html.no-scroll,
body.no-scroll {
    overflow: hidden;
}

main {
    margin-top: 80px;
    margin-bottom: 20px;
}

#go_back {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    color: var(--text-high);
    text-decoration: none;
    font-size: 0.9rem;
}

#go_back .icon {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--text-high);
}

#go_back:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
}

.title_footer {
    font-size: 0.9rem;
    color: var(--text-medium);
}

.links_container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 15px;
    color: var(--text-high);
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.link .icon {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--text-high);
}

.link:hover {
    transform: translateY(-3px);
    color: currentColor;
}

.link:active {
    transform: scale(0.9);
}

.primary_link {
    background-color: var(--accent-cool);
}

.secondary_link {
    background-color: var(--panel-contrast);
}

#carousel {
    margin-bottom: 20px;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-high);
    opacity: 0.5;
    margin: 0 6px;
    border: none;
    transition: opacity 0.3s, background-color 0.3s;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--accent-cool);
}

.carousel-img-wrapper {
    all: unset;
    display: block;
    width: calc(100% - 4px);
    height: 100%;
    cursor: pointer;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--panel);
}

.carousel-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

#dialog_carousel {
    background-color: rgba(var(--panel-rgb) / 0.5);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    margin: auto;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#dialog_carousel div {
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;
}

#dialog_carousel img {
    max-width: 100%;
    max-height: 80dvh;
    object-fit: contain;
}

#dialog_carousel button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: grid;
    place-items: center;
    height: 38px;
    background-color: var(--panel-contrast);
    border: 1px solid var(--border);
    border-radius: 6px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

#dialog_carousel button svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-medium);
    transition: color 0.3s ease;
}

#dialog_carousel button:hover {
    border-color: var(--accent-cool);
}

#dialog_carousel button:active {
    transform: scale(0.9);
}

#dialog_carousel button:hover svg {
    color: var(--text-high);
}

#content_divider {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
}

h2 {
    font-family: "reddit-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-left: 14px;
    position: relative;
}

#content_divider h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 90%;
    background-color: var(--accent-cool);
    border-radius: 2px;
}

p {
    color: var(--text-medium);
}

.feature_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

.feature {
    background-color: var(--panel);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
}

.feature h4 {
    font-size: 1rem;
}

.feature p {
    font-size: 0.9rem;
    margin: 0;
}

.feature .icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.aside_content {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.content_panel .aside_content:last-child {
    margin-bottom: 0;
}

.aside_content h3 {
    font-size: 1.1rem;
}

.tech_chips_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech_chip {
    background-color: var(--panel);
    color: var(--text-medium);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.aside_content p {
    font-size: 0.9rem;
    margin: 4px 0;
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid var(--border);
}

.aside_content p:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.share_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.share_link {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    color: var(--text-medium);
    text-decoration: none;
    background: none;
    border: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.share_icon {
    background-color: var(--panel-contrast);
    padding: 10px;
    border-radius: 50%;
}

.share_icon svg {
    color: var(--text-high);
    transition: color 0.3s ease;
}

.share_link span {
    font-size: 0.7rem;
}

.share_link:hover {
    color: currentColor;
}

.share_link:hover svg {
    color: var(--accent-cool);
}

.share_link:active {
    transform: scale(0.8);
}

.toast {
    background-color: var(--panel);
    color: var(--text-high);
    border-radius: 8px;
}

.success_copy_toast {
    border: 1px solid var(--accent-cool);
}

.error_copy_toast {
    border: 1px solid var(--accent-warm);
}

.toast .btn-close {
    filter: invert(1);
}

#other_projects {
    border-top: 1px solid var(--border);
    padding-top: 20px;
}

#other_projects h2 {
    padding: 0;
    margin-bottom: 20px;
}

#project_carousel {
    width: 100%;
    overflow-x: auto;
    margin: 0;
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

#project_carousel::-webkit-scrollbar {
    display: none;
}

#project_carousel::scroll-button(left),
#project_carousel::scroll-button(right) {
    border: none;
    background: none;
    font-size: 3rem;
    color: var(--text-high);
    height: 100%;
    width: fit-content;
    padding: 0 15px 0.5rem;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    transition: color 0.3s ease, transform 0.3s ease;
}

#project_carousel::scroll-button(left) {
    content: '‹';
    position-area: left center;
    translate: 100%;
}

#project_carousel::scroll-button(right) {
    content: '›';
    position-area: right center;
    translate: -100%;
}

#project_carousel::scroll-button(left):hover:not(:disabled),
#project_carousel::scroll-button(right):hover:not(:disabled) {
    border-color: var(--accent-cool);
    color: var(--accent-cool);
}

#project_carousel::scroll-button(left):active,
#project_carousel::scroll-button(right):active {
    transform: scale(0.9);
}

#project_carousel::scroll-button(right):disabled,
#project_carousel::scroll-button(left):disabled {
    opacity: 0.5;
}

.project {
    scroll-snap-align: start;
    flex: 0 0 calc(33.333333% - 13.333333px);
    aspect-ratio: 16 / 9;
}

.project_inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    color: var(--text-high);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid var(--border);
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transition: transform 0.4s ease, filter 0.4s ease;
}

.project .project_content {
    padding: 15px;
    position: absolute;
}

.project .span_container,
.project span {
    margin: 0;
    color: var(--text-medium);
}

.project h3 {
    font-family: "staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-high);
    margin: 0;
    transition: color 0.3s ease;
}

.project p {
    color: var(--text-medium);
    font-size: 0.9rem;
    margin: 5px 0 0;
    transition: color 0.3s ease;
}

.project span {
    background-color: rgba(var(--panel-rgb) / 0.2);
    border: 1px solid var(--border);
    transition: color 0.3s ease, border-color 0.3s ease;
}

.span_container span svg path {
    fill: var(--text-medium);
    transition: fill 0.3s ease;
}

.project:hover .project_inner {
    border-color: var(--accent-cool);
}

.project:hover img {
    filter: brightness(0.7);
    transform: scale(1.1);
}

.project:hover h3 {
    color: var(--accent-cool);
}

.project:hover p {
    color: var(--text-high);
}

.project:hover span {
    border-color: var(--text-high);
    color: var(--text-high);
}

.project:hover .span_container span svg path {
    fill: var(--text-high);
}

.project:active .project_inner {
    transform: scale(0.97);
}

/* mediaquery 767 en responsive */