{% extends 'core/base.html' %}

{% load static %}

{% block title %}Uziel Flores | Desarrollador Web{% endblock title %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'core/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/about_me.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/projects.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/skills.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/contact.css' %}">
{% endblock extra_style %}

{% block extra_script %}
<script src="{% static 'core/js/header_scroll.js' %}" defer></script>
<script src="{% static 'core/js/projects.js' %}" defer></script>
<script src="{% static 'core/js/skills.js' %}" defer></script>
{% endblock extra_script %}

{% block content %}
<main id="home">
    <div id="main">
        <div id="main_title">
            <h2>Full-Stack web developer</h2>
            <h1>Uziel Omar<br>Flores Torres</h1>
        </div>
        <div id="main_content">
            <div id="main_description">
                Desarrollador web junior y estudiante de ingeniería en software especializado en el uso de Django y
                MySQL.
            </div>
            <div id="info_container">
                <div class="info_span">
                    <div class="info_header">
                        <p>Ubicación actual</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/map-pin.svg' %}
                        <span>Monterrey, N.L, México</span>
                    </div>
                </div>
                <div class="info_span">
                    <div class="info_header">
                        <p>Estudios</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/school.svg' %}
                        <div>
                            <span>FIME - Universidad Autónoma de Nuevo León</span>
                            <small>2023 - Actualidad</small>
                        </div>
                    </div>
                </div>
                <div class="info_span">
                    <div class="info_header">
                        <p>Correo</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/mail.svg' %}
                        <span>{{ email.profile_url }}</span>
                    </div>
                </div>
                <div class="info_span">
                    <div class="info_header">
                        <p>Edad</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/user.svg' %}
                        <div>
                            <span>21 años</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul>
                {% for social in social_users_in_hero %}
                <li>
                    <a href="{{ social.social_network.base_url }}{{ social.profile_url }}" target="_blank">
                        {% with icon='icons/'|add:social.social_network.slug|add:'.svg' %}
                            {% include icon %}
                        {% endwith %}
                        {{ social.social_network.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <nav id="main_links" aria-label="Footer">
        <a href="{% url 'home' %}#aboutme">Sobre mí</a>
        <a href="{% url 'home' %}#projects">Proyectos</a>
        <a href="{% url 'home' %}#skills">Habilidades</a>
        <a href="{% url 'home' %}#contact">Contacto</a>
    </nav>
</main>

<section id="aboutme">
    <h2>Sobre mí</h2>
    <p>Soy un programador web apasionado por aprender algo nuevo cada día. Actualmente me encuentro estudiando
        ingeniería en tecnología de software en la UANL y durante mi carrera he tenido la oportunidad de desarrollar
        y colaborar en varios proyectos escolares los cuales me han servido de experiencia y practica para poder
        mejorar mis habilidades como desarrollador Full-Stack.</p>
    <p>"I no longer fear the bug guarding my logic."</p>
</section>

<section id="projects" class="container">
    <div id="projects_header">
        <h2>Proyectos</h2>
        <button type="button" class="all_projects_btn" data-show="Mostrar menos" data-hidden="Mostrar todos">
            <span class="all_projects_btn_text">Mostrar todos</span>
            {% include 'icons/caret-down.svg' %}
        </button>
    </div>
    <div id="card_container">
        {# static content #}
        <div class="card">
            <div class="card_image_container">
                <img src="../images/main_container_background.webp" alt="" loading="lazy">
            </div>
            <div class="card_body">
                <h3>ProyectoTPOO</h3>
                <div class="span_container">
                    <span>
                        <!-- checar q los paths no tengan style, sino no agarra el estilo del color -->
                        <svg viewBox="0 0 32 32">
                            <path
                                d="M14.135 4H18.1v18.169a26.218 26.218 0 0 1-5.143.535c-4.842-.005-7.362-2.168-7.362-6.322 0-4 2.673-6.6 6.816-6.6a6.448 6.448 0 0 1 1.724.2V4Zm0 9.142a3.992 3.992 0 0 0-1.337-.2c-2 0-3.163 1.223-3.163 3.366 0 2.087 1.107 3.239 3.138 3.239a9.355 9.355 0 0 0 1.362-.1v-6.3Z" />
                            <path
                                d="M24.4 10.059v9.1c0 3.133-.235 4.639-.923 5.938A6.316 6.316 0 0 1 20.237 28l-3.678-1.733a5.708 5.708 0 0 0 3.141-2.629c.566-1.121.745-2.42.745-5.837v-7.742ZM20.441 4.02h3.964v4.028h-3.964z" />
                        </svg>
                        Django
                    </span>
                    <span>
                        <svg preserveAspectRatio="xMidYMid" viewBox="0 0 256 252">
                            <path fill="#FFF"
                                d="M236 194c-14 0-25 1-34 5-3 1-7 1-7 4l3 6c2 3 5 8 9 11l11 8 21 10 11 9 6 4-3-6-5-5c-5-7-11-13-18-18-6-3-18-9-20-15h-1l12-3 18-3 8-2v-2l-9-10c-8-8-18-15-28-22l-18-8c-2-1-6-2-7-4l-7-13-15-30-8-20c-18-30-38-48-68-65-6-4-14-5-22-7l-13-1-8-6C34 5 8-9 1 9c-5 11 7 22 11 28l9 13 3 9c3 8 5 17 9 24l6 10c2 2 4 3 5 6-3 4-3 9-4 13-7 20-4 44 5 59 2 4 9 14 18 10 8-3 6-13 8-22l1-4 8 14c5 9 14 18 22 24 4 3 8 8 13 10l-4-4-9-10c-8-10-14-21-20-32l-7-17-3-6c-3 4-7 7-9 12-3 7-3 17-4 26h-1c-6-1-8-7-10-12-5-12-6-32-1-46 1-4 6-15 4-19-1-3-4-5-6-7l-7-12-10-30-9-13c-3-5-7-8-10-14-1-2-2-5 0-7l2-2c2-2 9 0 11 1 6 3 12 5 17 9l8 6h4c6 1 12 0 17 2 9 3 18 7 25 12 23 14 42 35 54 59 3 4 3 8 5 12l12 26c4 8 7 16 12 23 3 4 14 6 18 8l12 4 18 12c2 2 11 7 12 10Z" />
                            <path fill="#FFF" d="m58 43-7 1 6 7 4 9v-1c3-1 4-4 4-8l-2-4-5-4Z" />
                        </svg>
                        MySQL
                    </span>
                    <span>
                        <svg viewBox="0 0 256 204" preserveAspectRatio="xMidYMid">
                            <path fill="#7E13F8"
                                d="M53.172 0C38.565 0 27.756 12.785 28.24 26.65c.465 13.32-.139 30.573-4.482 44.642C19.402 85.402 12.034 94.34 0 95.488v12.956c12.034 1.148 19.402 10.086 23.758 24.197 4.343 14.069 4.947 31.32 4.482 44.641-.484 13.863 10.325 26.65 24.934 26.65h149.673c14.608 0 25.414-12.785 24.93-26.65-.464-13.32.139-30.572 4.482-44.641 4.359-14.11 11.707-23.05 23.741-24.197V95.488c-12.034-1.148-19.382-10.086-23.74-24.196-4.344-14.067-4.947-31.321-4.483-44.642C228.261 12.787 217.455 0 202.847 0H53.17h.002ZM173.56 125.533c0 19.092-14.24 30.67-37.872 30.67h-40.23a4.339 4.339 0 0 1-4.338-4.339V52.068a4.339 4.339 0 0 1 4.339-4.34h39.999c19.705 0 32.637 10.675 32.637 27.063 0 11.503-8.7 21.801-19.783 23.604v.601c15.089 1.655 25.248 12.104 25.248 26.537Zm-42.26-64.05h-22.937v32.4h19.32c14.934 0 23.17-6.014 23.17-16.764 0-10.073-7.082-15.636-19.552-15.636Zm-22.937 45.256v35.705h23.782c15.548 0 23.786-6.239 23.786-17.965 0-11.728-8.467-17.742-24.786-17.742h-22.782v.002Z" />
                        </svg>
                        Bootstrap
                    </span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores expedita perspiciatis
                    excepturi voluptatum at amet harum optio deleniti explicabo.</p>
                <div class="card_links_container">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                        Ver demo
                    </a>
                    <a href="project.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                        </svg>
                        Más info
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image_container">
                <img src="../images/estaticas/card.jpg" alt="" loading="lazy">
            </div>
            <div class="card_body">
                <h3>ProyectoTPOO</h3>
                <div class="span_container">
                    <span>
                        Django</span>
                    <span>
                        MySQL</span>
                    <span>
                        Bootstrap</span>
                    <span>
                        Bootstrap</span>
                    <span>
                        Bootstrap</span>
                    <span>
                        Bootstrap</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores expedita perspiciatis
                    excepturi voluptatum at amet harum optio deleniti explicabo.</p>
                <div class="card_links_container">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                        Ver demo
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                        </svg>
                        Más info
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image_container">
                <img src="../images/estaticas/card.jpg" alt="" loading="lazy">
            </div>
            <div class="card_body">
                <h3>ProyectoTPOO</h3>
                <div class="span_container">
                    <span>
                        Django</span>
                    <span>
                        MySQL</span>
                    <span>
                        Bootstrap</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores expedita perspiciatis
                    excepturi voluptatum at amet harum optio deleniti explicabo.</p>
                <div class="card_links_container">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                        Ver demo
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                        </svg>
                        Más info
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image_container">
                <img src="../images/estaticas/card.jpg" alt="" loading="lazy">
            </div>
            <div class="card_body">
                <h3>ProyectoTPOO</h3>
                <div class="span_container">
                    <span>
                        Django</span>
                    <span>
                        MySQL</span>
                    <span>
                        Bootstrap</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores expedita perspiciatis
                    excepturi voluptatum at amet harum optio deleniti explicabo.</p>
                <div class="card_links_container">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                        Ver demo
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                        </svg>
                        Más info
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image_container">
                <img src="../images/estaticas/card.jpg" alt="" loading="lazy">
            </div>
            <div class="card_body">
                <h3>ProyectoTPOO</h3>
                <div class="span_container">
                    <span>
                        Django</span>
                    <span>
                        MySQL</span>
                    <span>
                        Bootstrap</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores expedita perspiciatis
                    excepturi voluptatum at amet harum optio deleniti explicabo.</p>
                <div class="card_links_container">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                        Ver demo
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                        </svg>
                        Más info
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image_container">
                <img src="../images/estaticas/card.jpg" alt="" loading="lazy">
            </div>
            <div class="card_body">
                <h3>ProyectoTPOO</h3>
                <div class="span_container">
                    <span>
                        Django</span>
                    <span>
                        MySQL</span>
                    <span>
                        Bootstrap</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores expedita perspiciatis
                    excepturi voluptatum at amet harum optio deleniti explicabo.</p>
                <div class="card_links_container">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                        Ver demo
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                        </svg>
                        Más info
                    </a>
                </div>
            </div>
        </div>
        <button type="button" class="all_projects_btn" data-show="Mostrar menos" data-hidden="Mostrar todos">
            <span class="all_projects_btn_text">Mostrar todos</span>
            {% include 'icons/caret-down.svg' %}
        </button>
    </div>
</section>

<section id="skills">
    <h2>Habilidades</h2>
    {% for category in skill_categories %}
    <h3>{{ category.name }}</h3>
    <div class="skills_container">
        {% for skill in category.skills.all %}
        <button type="button" class="skill" data-bs-toggle="collapse" data-bs-target="#skill_description_{{ skill.id }}" aria-expanded="false" aria-controls="skill_description_{{ skill.id }}">
            {{ skill.icon|safe }}
            {{ skill.name }}
        </button>
        <div class="skill_description collapse" id="skill_description_{{ skill.id }}">
            <div class="skill_description_content">
                <p>{{ skill.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<section id="contact">
    <h2>Contacto</h2>
    {% for social in social_users %}
    <a href="{{ social.social_network.base_url }}{{ social.profile_url }}" target="_blank" class="contact_{{ social.social_network.slug }}">
        {% with icon='icons/'|add:social.social_network.slug|add:'-fill.svg' %}
            {% include icon %}
        {% endwith %}
        <div class="icon_container">
            {% with icon='icons/'|add:social.social_network.slug|add:'.svg' %}
                {% include icon %}
            {% endwith %}
        </div>
        <div class="social_link">
            {{ social.social_network.name }}{% if social.additional_info %} {{ social.additional_info }}{% endif %}
            <span>{{ social.text }}</span>
        </div>
        <div class="arrow_container">
            {% include 'icons/external-link.svg' %}
        </div>
    </a>
    {% endfor %}
</section>
{% endblock content %}