{% extends 'core/base.html' %}

{% load static %}

{% block title %}Uziel Flores | Desarrollador Web{% endblock title %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'core/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/about_me.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/projects.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/skills.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/contact.css' %}">
{% endblock extra_style %}

{% block extra_script %}
<script src="{% static 'core/js/header_scroll.js' %}" defer></script>
<script src="{% static 'core/js/projects.js' %}" defer></script>
<script src="{% static 'core/js/skills.js' %}" defer></script>
{% endblock extra_script %}

{% block content %}
<main id="home">
    <div id="main">
        <div id="main_title">
            <h2>Full-Stack web developer</h2>
            <h1>Uziel Omar<br>Flores Torres</h1>
        </div>
        <div id="main_content">
            <div id="main_description">
                Desarrollador web junior y estudiante de ingeniería en software especializado en el uso de Django y
                MySQL.
            </div>
            <div id="info_container">
                <div class="info_span">
                    <div class="info_header">
                        <p>Ubicación actual</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/map-pin.svg' %}
                        <span>Monterrey, N.L, México</span>
                    </div>
                </div>
                <div class="info_span">
                    <div class="info_header">
                        <p>Estudios</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/school.svg' %}
                        <div>
                            <span>FIME - Universidad Autónoma de Nuevo León</span>
                            <small>2023 - Actualidad</small>
                        </div>
                    </div>
                </div>
                <div class="info_span">
                    <div class="info_header">
                        <p>Correo</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/mail.svg' %}
                        <span>{{ email.profile_url }}</span>
                    </div>
                </div>
                <div class="info_span">
                    <div class="info_header">
                        <p>Edad</p>
                    </div>
                    <div class="info_content">
                        {% include 'icons/user.svg' %}
                        <div>
                            <span>21 años</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul>
                {% for social in social_users_in_hero %}
                <li>
                    <a href="{{ social.social_network.base_url }}{{ social.profile_url }}" target="_blank">
                        {% with icon='icons/'|add:social.social_network.slug|add:'.svg' %}
                            {% include icon %}
                        {% endwith %}
                        {{ social.social_network.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <nav id="main_links" aria-label="Footer">
        <a href="{% url 'home' %}#aboutme">Sobre mí</a>
        <a href="{% url 'home' %}#projects">Proyectos</a>
        <a href="{% url 'home' %}#skills">Habilidades</a>
        <a href="{% url 'home' %}#contact">Contacto</a>
    </nav>
</main>

<section id="aboutme">
    <h2>Sobre mí</h2>
    <p>Soy un programador web apasionado por aprender algo nuevo cada día. Actualmente me encuentro estudiando
        ingeniería en tecnología de software en la UANL y durante mi carrera he tenido la oportunidad de desarrollar
        y colaborar en varios proyectos escolares los cuales me han servido de experiencia y practica para poder
        mejorar mis habilidades como desarrollador Full-Stack.</p>
    <p>"I no longer fear the bug guarding my logic."</p>
</section>

<section id="projects" class="container">
    <div id="projects_header">
        <h2>Proyectos</h2>
        <button type="button" class="all_projects_btn" data-show="Mostrar menos" data-hidden="Mostrar todos">
            <span class="all_projects_btn_text">Mostrar todos</span>
            {% include 'icons/caret-down.svg' %}
        </button>
    </div>
    <div id="card_container">
        {# static content #}
        {% for project in projects %}
        <div class="card">
            <div class="card_image_container">
                {% with project.images.first as image %}
                    {% if image %}
                        <img src="{{ image.image.url }}" alt="{{ image.caption }}" loading="lazy">
                    {% endif %}
                {% endwith %}
            </div>
            <div class="card_body">
                <h3>{{ project.title }}</h3>
                <div class="span_container">
                    {% for tech in project.technologies.all %}
                    <span>
                        {{ tech.icon|safe }}
                        {{ tech.name }}
                    </span>
                    {% endfor %}
                </div>
                <p>{{ project.short_description }}</p>
                <div class="card_links_container">
                    <a href="{{ project.demo_url }}">
                        {% include 'icons/rocket.svg' %}
                        Ver demo
                    </a>
                    <a href="{% url 'project' project.slug %}">
                        {% include 'icons/info.svg' %}
                        Más info
                    </a>
                </div>
            </div>
        </div>     
        {% endfor %}
        <button type="button" class="all_projects_btn" data-show="Mostrar menos" data-hidden="Mostrar todos">
            <span class="all_projects_btn_text">Mostrar todos</span>
            {% include 'icons/caret-down.svg' %}
        </button>
    </div>
</section>

<section id="skills">
    <h2>Habilidades</h2>
    {% for category in skill_categories %}
    <h3>{{ category.name }}</h3>
    <div class="skills_container">
        {% for skill in category.skills.all %}
        <button type="button" class="skill" data-bs-toggle="collapse" data-bs-target="#skill_description_{{ skill.id }}" aria-expanded="false" aria-controls="skill_description_{{ skill.id }}">
            {{ skill.icon|safe }}
            {{ skill.name }}
        </button>
        <div class="skill_description collapse" id="skill_description_{{ skill.id }}">
            <div class="skill_description_content">
                <p>{{ skill.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<section id="contact">
    <h2>Contacto</h2>
    {% for social in social_users %}
    <a href="{{ social.social_network.base_url }}{{ social.profile_url }}" target="_blank" class="contact_{{ social.social_network.slug }}">
        {% with icon='icons/'|add:social.social_network.slug|add:'-fill.svg' %}
            {% include icon %}
        {% endwith %}
        <div class="icon_container">
            {% with icon='icons/'|add:social.social_network.slug|add:'.svg' %}
                {% include icon %}
            {% endwith %}
        </div>
        <div class="social_link">
            {{ social.social_network.name }}{% if social.additional_info %} {{ social.additional_info }}{% endif %}
            <span>{{ social.text }}</span>
        </div>
        <div class="arrow_container">
            {% include 'icons/external-link.svg' %}
        </div>
    </a>
    {% endfor %}
</section>
{% endblock content %}