* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text-high);
    font-family: "poppins-medium", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    scrollbar-gutter: stable;
}

html, body {
    overflow-x: hidden;
    width: 100dvw;
}

.container {
    margin: 20px auto;
}

section {
    scroll-margin-top: 80px;
}

h1, h2 {
    font-family: "staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: clamp(2.5rem, calc(3.4dvw + 1rem), 6rem);
    margin: 20px 0 0 0;
}

h2 {
    font-size: 3rem;
    margin: 0 0 10px 0;
}

button {
    color: var(--text-high);
    font-family: "poppins-medium", sans-serif;
    font-style: normal;
}

.icon {
    width: 2rem;
    height: 2rem;
    color: var(--accent-soft);
}