#projects {
    margin: 30px auto;
}

#projects_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all_projects_btn {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--accent-cool);
    color: var(--text-hight);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.all_projects_btn:active {
    transform: scale(0.9);
}

.all_projects_btn_text {
    display: inline-block;
    transition: opacity 0.25s ease;
}

.all_projects_btn_text.changed {
    opacity: 0;
}

.all_projects_btn_icon {
    width: 1.2rem;
    height: 1.2rem;
    display: grid;
    place-items: center;
    color: var(--text-hight);
    transition: transform 0.3s ease;
}

.all_projects_btn_icon.rotated {
    transform: rotate(180deg);
}

#card_container .all_projects_btn {
    justify-content: center;
    font-size: 1.2rem;
    display: none;
}

#card_container .all_projects_btn .all_projects_btn_icon {
    width: 1.5rem;
    height: 1.5rem;
}

#card_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: var(--panel);
    border: 2px solid var(--border);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.card .card_image_container {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.card img {
    aspect-ratio: 16 / 9;
    width: 100%;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card .card_body {
    padding: 10px;
    position: relative;
}

.card h3 {
    margin: 0 0 5px 0;
    font-family: "poppins-semibold", sans-serif;
    font-weight: 500;
    color: var(--accent-soft);
}

.span_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5px;
}

.span_container span {
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 7px;
    border: none;
    background-color: rgba(var(--acent-soft-rgb) / 0.2);
    border-radius: 9999px;
    color: var(--accent-cool);
}

.span_container span svg {
    height: 1.2rem;
    width: 1.2rem;
    color: var(--accent-cool);
}

.span_container span svg path {
    fill: var(--accent-cool);
}

.card p {
    margin-bottom: 44px;
}

.card_links_container {
    width: calc(100% - 20px);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

.card a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--text-medium);
    padding: 10px 0;
    gap: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: text-decoration 0.5s ease, transform 0.3s ease;
}

.card .card_links_container svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-low);
}

.card a:hover {
    text-decoration: underline;
    transform: translateY(-5px);
}

.card a:hover, .card a:hover svg {
    color: var(--text-hight);
}

.extra {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition:
        opacity 0.35s ease,
        transform 0.35s ease,
        display 0.35s allow-discrete;
}

.extra.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@starting-style {
    .extra.active {
        opacity: 0;
        transform: translateY(20px);
    }
}