:root {
    /* Colores */

    /* Sombras / fondos */
    --background: #101922;
    --background-900: #0B1217;
    --background-800: #131A22;
    --background-700: #18232B;
    --background-600: #22333D;

    /* Paneles / cards */
    --panel: #1C2630;
    --panel-rgb: 28 38 48;
    --panel-contrast: #26323A;

    /* Texto */
    --text-high: #EAF5F7;
    --text-medium: #9AA7AD;
    --text-low: #6E7A80;

    /* Acentos */
    --accent-cool: #0086f3;
    --accent-warm: #ff2c2c;
    --accent-soft: #2DA4F4;
    --acent-soft-rgb: 45 164 244; /* ---> 2DA4F4 */
    --accent-span: #7329F3;

    /* Bordes / dividers */
    --border: #383939;
}

/* Titulos */
@font-face {
    font-family: "staatliches";
    src: url("../fonts/Staatliches.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Subtitulos */
@font-face {
    font-family: "reddit-sans";
    src: url("../fonts/RedditSans-VariableFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fira-code";
    src: url("../fonts/FiraCode-VariableFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cascadia-code";
    src: url("../fonts/CascadiaCode-VariableFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Parrafos */
@font-face {
    font-family: "poppins-medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins-semibold";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}