{% extends 'core/base.html' %}

{% load static %}

{% block title %}Uziel Flores | {{project.title}}{% endblock title %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'core/styles/projects.css' %}">
<link rel="stylesheet" href="{% static 'projects/styles/project.css' %}">
{% endblock extra_style %}

{% block extra_script %}
<script src="{% static 'core/js/header_static.js' %}" defer></script>
<script src="{% static 'projects/js/project_images.js' %}" defer></script>
<script src="{% static 'projects/js/share_buttons.js' %}" defer></script>
{% endblock extra_script %}

{% block content %}
<main class="container">
    <a href="{% url 'home' %}#projects" id="go_back">
        {% include 'icons/arrow-left.svg' %}
        volver a proyectos
    </a>

    <h1>{{ project.title }}</h1>
    <p class="title_footer">{{ project.summary }} • Finalizado el {{ project.end_date }}</p>
    <div class="links_container">
        <a href="#about_me" class="link primary_link">
            {% include 'icons/rocket.svg' %}
            Demo en vivo
        </a>
        <a href="#projects" class="link secondary_link">
            {% include 'icons/github.svg' %}
            Repositorio
        </a>
    </div>

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for button in project.images.all %}
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                    aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in project.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <button type="button" commandfor="dialog_carousel" command="show-modal" class="carousel-img-wrapper">
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.caption }}">
                    </button>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <dialog id="dialog_carousel" closedby="any" class="container">
        <div>
            <img src="" id="dialog_image" class="d-block"
                alt="Imagen del carrusel del proyecto {{ project.title }}">
            <button type="button" commandfor="dialog_carousel" command="close">
                {% include 'icons/x.svg' %}
            </button>
        </div>
    </dialog>

    <div id="content_divider">
        <div class="content_panel">
            <h2>Sobre el proyecto</h2>
            <p>{{ project.description|safe }}</p>
            <h2>Características clave</h2>
            <div class="feature_container">
                {% for feature in project.characteristics.all %}
                    <div class="feature">
                        {{ feature.icon|safe }}
                        <div class="feature_content">
                            <h4>{{ feature.title }}</h4>
                            <p>{{ feature.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content_panel">
            <aside class="aside_content">
                <h3>Tecnologías</h3>
                <div class="tech_chips_container">
                    {% for link in project.technology_links.all %}
                    <span class="tech_chip">{{ link.technology.name }}</span>
                    {% endfor %}
                </div>
            </aside>
            <aside class="aside_content">
                <h3>Detalles del rol</h3>
                <p><strong>Tipo de proyecto</strong>{{ project.project_type }}</p>
                <p><strong>Mi rol</strong>{{ project.project_role }}</p>
                <p><strong>Duración</strong>{{ project.duration }} mes{{ project.duration|pluralize:"es" }}</p>
                <p><strong>Equipo</strong>{% if project.team_members == 1 %}En solitario{% else %}{{ project.team_members }} miembros{% endif %}</p>
            </aside>
            <aside class="aside_content">
                <h3>Compartir</h3>
                <div class="share_container">
                    <button type="button" id="copy_button" class="share_link">
                        <div class="share_icon">
                            {% include 'icons/link.svg' %}
                        </div>
                        <span>Copiar enlace</span>
                    </button>
                    <a href="" target="_blank" rel="noopener noreferrer" id="email_button" class="share_link">
                        <div class="share_icon">
                            {% include 'icons/mail.svg' %}
                        </div>
                        <span>Correo</span>
                    </a>
                    <a href="" target="_blank" rel="noopener noreferrer" id="facebook_button"
                        class="share_link">
                        <div class="share_icon">
                            {% include 'icons/facebook.svg' %}
                        </div>
                        <span>Facebook</span>
                    </a>
                    <a href="" target="_blank" rel="noopener noreferrer" id="whatsapp_button"
                        class="share_link">
                        <div class="share_icon">
                            {% include 'icons/whatsapp.svg' %}
                        </div>
                        <span>WhatsApp</span>
                    </a>
                </div>
            </aside>
        </div>
    </div>
    <section id="other_projects">
        <h2>Otros proyectos</h2>
        <div id="project_carousel">
            {% for other_project in other_projects %}
            <a href="{% url 'project' other_project.slug %}" class="project">
                <div class="project_inner">
                    {% with other_project.images.first as image %}
                        {% if image %}
                            <img src="{{ image.image.url }}" alt="{{ image.caption }}" loading="lazy">
                        {% endif %}
                    {% endwith %}
                    <div class="project_content">
                        <div class="span_container">
                            {% for link in other_project.technology_links.all %}
                            <span>
                                {{ link.technology.icon|safe }}
                                {{ link.technology.name }}
                            </span>
                            {% endfor %}
                        </div>
                        <p>{{ other_project.project_type.name }}</p>
                        <h3>{{ other_project.title }}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
    <!-- Copy toast -->
    <div id="toast_container" class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
        <div id="copy_toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast_message" class="toast-body"></div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</main>
{% endblock content %}